streamlit==1.41.1
langchain==0.3.26
langchain-core==0.3.68
langchain-community==0.3.27
langchain-groq==0.3.6
chromadb==0.5.23
pypdf==5.1.0
python-dotenv==1.0.1
sentence-transformers==3.3.1
torch
torchvision